.Plot {
  position: relative;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: white;
}

.Canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.BackgroundCanvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.ZoomSlider {
  position: relative;
  z-index: 1;
}

.ZoomLabel {
  display: block;
  padding-right: 1px;
}

.NormSlider {
  position: relative;
  z-index: 1;
}

.NormLabel {
  display: block;
  padding-right: 20px;
}
