.Plot {
  position: relative;
  width: 500px;
  height: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

.Buttons {
  position: absolute;
  margin: 20px;
  background-color: white;
  text-align: center;
  z-index: 1;
}

.Canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.BackgroundCanvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
